@model IEnumerable<WebApplication1.Models.flightDetails>

@{
    ViewBag.Title = "flightDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Scripts/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/css/main.css">
<!--===============================================================================================-->


<div class="container-table100">
    <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <h1 style="text-align:center">SEARCH RESULTS</h1><br><br>
        <div class="wrap-table100">
            <div class="table100 ver1">

                <div class="table100-nextcols">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Departure</th>
                                <th class="cell100 column2">Destination</th>
                                <th class="cell100 column3">Time</th>
                                <th class="cell100 column4">Airline</th>
                                <th class="cell100 column5">Status</th>
                                <th class="cell100 column6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                            <tr class="row100 body">

                                <td class="cell100 column1">@s.Destination</td>
                                <td class="cell100 column2">@s.Departure</td>
                                <td class="cell100 column3">@s.Time</td>
                                <td class="cell100 column4">@s.Airline</td>
                                @if (s.bSeatsAvailable > 0 || s.eSeatsAvailable > 0)
                                {
                                    <td class="cell100 column5">
                                        <i style="font-size:20px; color:green; margin-left:12px" class="fa fa-check" />
                                     </td>
                                    <td class="cell100 column6">
                                        <form action="bookNow">
                                            <button type="submit" class="btn btn-success">Book Now</button>
                                            <input type="hidden" value="@s.Id" name="id" />
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td class="cell100 column5" >
                                        <i style="color:red" class="fa fa-times" />
                                     </td>
                                }
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

